// Colors
$primary: #FFBC00;
$primary-dark: #DA8F00;
$secondary: #2F3144;

// Shadows
$outline-shadow: #FFB800 0 0 0 2px;

// Weights
$bold: 700;
$semi-bold: 600;
$x-bold: 800;
$normal: 400;

//Viewports
$tablet: "screen and (max-width: 768px)";
$phone: "screen and (max-width: 480px)";
